<a href="https://colab.research.google.com/github/samarthbanskar/E-Commerce-Delivery-Analysis/blob/main/Untitled61.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv("Ecommerce_Delivery_Analytics_New.csv")
df.info()
# df['Delivery Time (Minutes)'].mean()
# df.groupby("Platform")["Delivery Time (Minutes)"].min()
# print(df['Delivery Delay'].map({1:"Yes",0:"No"}))
df['Delivery Delay'] = df['Delivery Delay'].map({'Yes': 1, 'No': 0})
# df.groupby('Delivery Delay')['Service Rating'].mean()
# df.groupby('Platform')['Delivery Delay'].max()
# df['Service Rating'].mean()
# df.groupby('Product Category')['Service Rating'].mean().sort_values(ascending=False)
# df.groupby('Platform')['Service Rating'].value_counts().sort_values(ascending=False)
# df['Customer Feedback'].value_counts()
# df.groupby('Refund Requested')['Delivery Delay'].value_counts().sort_values(ascending=False)
# df['Refund Requested'].value_counts()
print(df.groupby('Refund Requested')['Delivery Delay'].value_counts().sort_values(ascending=False))
# df.groupby('Product Category')['Order Value (INR)'].sum().sort_values(ascending=False)
df.groupby('Platform')['Delivery Delay'].mean()
df.groupby('Platform')['Delivery Time (Minutes)'].mean()
df[df['Refund Requested']=="Yes"]['Order Value (INR)'].sum()
df.groupby('Product Category')['Order Value (INR)'].mean().sort_values(ascending=False)
df.groupby('Product Category')['Delivery Delay'].mean().sort_values(ascending=False)
df.groupby('Delivery Delay')['Service Rating'].mean().sort_values(ascending=False)
df.groupby('Product Category')['Order Value (INR)'].mean().sort_values(ascending=False)
df.groupby('Product Category')['Delivery Delay'].mean().sort_values(ascending=False)
df['Order Date & Time']=pd.to_datetime(df['Order Date & Time'],errors='coerce')
df['month']=df['Order Date & Time'].dt.month

df.groupby('month')['Delivery Delay'].mean().sort_values(ascending=False)
df.groupby(['Platform','Product Category']).size() \
  .reset_index(name='Orders') \
  .sort_values(['Platform','Orders'], ascending=[True, False]) \
  .groupby('Platform').head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11231 entries, 0 to 11230
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Order ID                 11231 non-null  object
 1   Customer ID              11230 non-null  object
 2   Platform                 11230 non-null  object
 3   Order Date & Time        11230 non-null  object
 4   Delivery Time (Minutes)  11230 non-null  float64
 5   Product Category         11230 non-null  object
 6   Order Value (INR)        11230 non-null  float64
 7   Customer Feedback        11230 non-null  object
 8   Service Rating           11230 non-null  float64
 9   Delivery Delay           11230 non-null  object
 10  Refund Requested         11230 non-null  object
dtypes: float64(3), object(8)
memory usage: 965.3+ KB
Refund Requested  Delivery Delay
No                0.0               5206
Yes               0.0               4455
No                1.0                884
Yes               1.0                685
Name: count, dtype: int64

/tmp/ipython-input-4083360287.py:28: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Order Date & Time']=pd.to_datetime(df['Order Date & Time'],errors='coerce')

            Platform     Product Category  Orders
0            Blinkit            Beverages     648
2            Blinkit  Fruits & Vegetables     641
1            Blinkit                Dairy     631
3            Blinkit              Grocery     625
5            Blinkit               Snacks     621
9            JioMart              Grocery     660
6            JioMart            Beverages     646
7            JioMart                Dairy     610
8            JioMart  Fruits & Vegetables     606
11           JioMart               Snacks     598
13  Swiggy Instamart                Dairy     675
17  Swiggy Instamart               Snacks     646
12  Swiggy Instamart            Beverages     628
16  Swiggy Instamart        Personal Care     622
15  Swiggy Instamart              Grocery     597

In [9]:
df['Order Date & Time']=pd.to_datetime(df['Order Date & Time'],errors='coerce')
df['month']=df['Order Date & Time'].dt.month
df

# df.groupby('month')['Delivery Delay'].mean().sort_values(ascending=False)

,Order ID,Customer ID,Platform,Order Date & Time,Delivery Time (Minutes),Product Category,Order Value (INR),Customer Feedback,Service Rating,Delivery Delay,Refund Requested,month
0,ORD000001,CUST2824,JioMart,2026-01-05 19:29:30,30.0,Fruits & Vegetables,382.0,"Fast delivery, great service!",5.0,0.0,No,1.0
1,ORD000002,CUST1409,Blinkit,NaT,16.0,Dairy,279.0,Quick and reliable!,5.0,0.0,No,NaN
2,ORD000003,CUST5506,JioMart,2026-01-05 21:29:30,25.0,Beverages,599.0,Items missing from order.,2.0,0.0,Yes,1.0
3,ORD000004,CUST5012,JioMart,2026-01-05 19:29:30,42.0,Beverages,946.0,Items missing from order.,2.0,1.0,Yes,1.0
4,ORD000005,CUST4657,Blinkit,NaT,30.0,Beverages,334.0,"Fast delivery, great service!",5.0,0.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
11226,ORD011227,CUST1842,Blinkit,NaT,26.0,Dairy,761.0,Excellent experience!,5.0,0.0,No,NaN
11227,ORD011228,CUST8738,Blinkit,NaT,37.0,Fruits & Vegetables,544.0,Very satisfied with the service.,5.0,0.0,No,NaN
11228,ORD011229,CUST9592,JioMart,2026-01-05 02:29:30,40.0,Snacks,120.0,"Fast delivery, great service!",5.0,0.0,No,1.0
11229,ORD011230,CUST9525,JioMart,2026-01-05 02:29:30,32.0,Fruits & Vegetables,240.0,"Fast delivery, great service!",5.0,0.0,No,1.0
11230,ORD0,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.groupby(['Platform','Product Category']).size() \
  .reset_index(name='Orders') \
  .sort_values(['Platform','Orders'], ascending=[True, False]) \
  .groupby('Platform').head()

            Platform     Product Category  Orders
0            Blinkit            Beverages     648
2            Blinkit  Fruits & Vegetables     641
1            Blinkit                Dairy     631
3            Blinkit              Grocery     625
5            Blinkit               Snacks     621
9            JioMart              Grocery     660
6            JioMart            Beverages     646
7            JioMart                Dairy     610
8            JioMart  Fruits & Vegetables     606
11           JioMart               Snacks     598
13  Swiggy Instamart                Dairy     675
17  Swiggy Instamart               Snacks     646
12  Swiggy Instamart            Beverages     628
16  Swiggy Instamart        Personal Care     622
15  Swiggy Instamart              Grocery     597

In [11]:
df.groupby(['Platform','Product Category']).size().sort_values(ascending=False)

Platform          Product Category
Swiggy Instamart  Dairy                  675
JioMart           Grocery                660
Blinkit           Beverages              648
Swiggy Instamart  Snacks                 646
JioMart           Beverages              646
Blinkit           Fruits & Vegetables    641
                  Dairy                  631
Swiggy Instamart  Beverages              628
Blinkit           Grocery                625
Swiggy Instamart  Personal Care          622
Blinkit           Snacks                 621
                  Personal Care          618
JioMart           Dairy                  610
                  Fruits & Vegetables    606
                  Snacks                 598
Swiggy Instamart  Grocery                597
                  Fruits & Vegetables    591
JioMart           Personal Care          567
dtype: int64

In [12]:
df.shape

(11231, 12)

In [28]:
df['Order Date & Time'] = df['Order Date & Time'].astype(str).str.strip()

df_valid_time = df[df['Order Date & Time'].str.contains(':', na=False)]
df_valid_time['hour'] = pd.to_datetime(
    df_valid_time['Order Date & Time'],
    errors='coerce'
).dt.hour
df_valid_time['hour'].isna().sum()
df_valid_time['hour'].value_counts().sort_index()
df_valid_time.groupby('hour')['Delivery Delay'].mean()

/tmp/ipython-input-2270761431.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_valid_time['hour'] = pd.to_datetime(

hour
0     0.114458
1     0.103448
2     0.101064
3     0.142105
4     0.126984
5     0.125000
6     0.160000
7     0.120219
8     0.164179
9     0.161616
10    0.128205
11    0.105528
12    0.167568
13    0.155556
14    0.141104
15    0.110497
16    0.152047
17    0.130000
18    0.131579
19    0.204301
20    0.107955
21    0.152542
22    0.142105
23    0.160000
Name: Delivery Delay, dtype: float64

In [43]:
def time_bucket(h):
    if 5 <= h < 12:
        return 'Morning'
    elif 12 <= h < 17:
        return 'Afternoon'
    elif 17 <= h < 22:
        return 'Evening'
    else:
        return 'Night'

df_valid_time['Time Slot'] = df_valid_time['hour'].apply(time_bucket)
df_valid_time['Time Slot'].value_counts()

/tmp/ipython-input-406591301.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_valid_time['Time Slot'] = df_valid_time['hour'].apply(time_bucket)

Time Slot
Morning      1335
Night        1272
Evening       929
Afternoon     880
Name: count, dtype: int64

In [38]:
df_valid_time['Time Slot'].value_counts().sort_values(ascending=False)

Time Slot
Morning      1335
Night        1272
Evening       929
Afternoon     880
Name: count, dtype: int64

In [42]:

df_valid_time.groupby('Time Slot')['Delivery Delay'].mean().sort_values(ascending=False)


df_valid_time.groupby('Time Slot')['Service Rating'].mean().sort_values(ascending=False)

Time Slot
Night        3.323899
Afternoon    3.252273
Evening      3.214209
Morning      3.211236
Name: Service Rating, dtype: float64